@font-face {
  font-family: a_reg;
  src: url(../assets/fonts/aa_r.ttf);
}
@font-face {
  font-family: a_bold;
  src: url(../assets/fonts/aa_b.ttf);
}
@font-face {
  font-family: a_italic;
  src: url(../assets/fonts/aa_i.ttf);
}

*{
  font-family: a_reg;
}
