@font-face {
  font-family: a_reg;
  src: url(../assets/fonts/aa_r.ttf);
}
@font-face {
  font-family: a_bold;
  src: url(../assets/fonts/aa_b.ttf);
}
@font-face {
  font-family: a_italic;
  src: url(../assets/fonts/aa_i.ttf);
}

.search-style{
  font-family: a_reg;
  margin:0 0 0 20px;
}

.genre-search{
  width: 30vw;
}

.genre-form{
  display: flex;
  justify-content: center;

}
.title-search{
  padding-left: 25%;
}
.search-bar-style{
  border: solid;
  padding: 20vh 10vw 20vh 10vw;
  height: 60vh;
}
.toggles{
  padding: 2vh 2vw 2vh 2vw;
  display:flex;
  justify-content: center;
}
.need-space{
  width: 20px;
}
