@font-face {
  font-family: aa_reg;
  src: url(../assets/fonts/aa_r.ttf);
}
@font-face {
  font-family: dimitri;
  src: url(../assets/fonts/dimitri.TTF);
}
.search-result-style{
  display: flex;
  flex-wrap: wrap;
  padding: 5vh 0 5vh 0;
  margin: 5vh 0 0 0;
  background: linear-gradient(270deg, rgba(189, 195, 199,0.6),rgba(44, 62, 80,0.6));
}

.anime-section{
  background: rgba(255, 255, 255, 0.4);
  padding: 0.5%;
  display: grid;
  height: 50vh;
  width: 45vw;
  border:solid 1px;
  grid-template-columns: 40% 60%;
  grid-template-rows: 37% 9% 9% 35% 10% ;
  grid-template-areas:
  "img title"
  "img episodes"
  "img score"
  "img synopsis"
  "fav synopsis"
  ;
}
.anime-section:hover{
  box-shadow: 0 10px 10px 0px rgba(0,0,0,.8);
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}
.anime-img{
  grid-area: img;
  margin: 1vw;
  width: 225px;
  height: 317px;
}
.anime-title{
  grid-area: title;
  height: 100%;
  margin:0;
  text-align: center;
}
.anime-episodes{
  grid-area: episodes;
  height: 100%;
  margin:0;
  padding:0;
}
.anime-score{
  grid-area: score;
  height: 100%;
  margin:0;
  padding:0;
}
.anime-synopsis{
  grid-area: synopsis;
  font-family: aa_reg;
  height: 100%;
  margin:0;
  padding:5%;
  overflow-y: auto;
}
.anime-favorite{
  grid-area: fav;
  margin: auto;
}
.result-style{
  font-family: dimitri;
  color:white;
  font-size: 50pt;
  width: 100%;
  text-align: center;
  letter-spacing: 5px;
}
.div-style{
  margin: 5vh 2.5vw 0 2.5vw;
  padding:0;
}
