@font-face {
  font-family: dimitri;
  src: url(../assets/fonts/dimitri.TTF);
}
@font-face {
  font-family: dimis;
  src: url(../assets/fonts/dimis.TTF);
}
.search-style{
  font-family: dimitri;
  margin:0 0 0 20px;
  color: crimson;
  font-size: 25pt;
  letter-spacing: 3px;
}

.genre-search{
  width: 30vw;
}

.genre-form{
  display: flex;
  justify-content: center;

}
.title-search{
  padding-left: 25%;
}
.search-bar-style{
  background: url(../assets/images/sb.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 25vh 10vw 20vh 10vw;
  height: 80vh;
}
.toggles{
  padding: 2vh 2vw 2vh 2vw;
  display:flex;
  justify-content: center;
}
.need-space{
  width: 10px;
}
