@font-face {
  font-family: dimis;
  src: url(assets/fonts/dimis.TTF);
}
@font-face {
  font-family: dimitri;
  src: url(assets/fonts/dimitri.TTF);
}

*{
  font-family: dimitri;
}
.extra{
    margin:0;
}
