@font-face {
  font-family: dimis;
  src: url(assets/fonts/dimis.TTF);
}

@font-face {
  font-family: dimitri;
  src: url(assets/fonts/dimitri.TTF);
}
@font-face {
  font-family: aa_reg;
  src: url(assets/fonts/aa_r.ttf);
}

* {
  font-family: dimis;
}

.link-style{
  letter-spacing: 3px;
  font-size: 20pt;
}
.my-body{
  background: url(./assets/images/body.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

}

nav{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  border-radius: 0 !important;
}
main{
  margin-bottom: 2vh;
}
footer{
  height: 9vh;
  padding: 3vh 0 3vh 0;
  background: white;
  border-top: dotted 2px;

}
.copy{
  font-family: aa_reg;
  display: flex;
  justify-content: center;
}
